.idea
.deps
*.lo
*.la
.libs
*/.*
acinclude.m4
aclocal.m4
autom4te.m4
autom4te.cache
/build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
coverage
run-tests.php
tags
cmake-build-debug
.lvimrc

tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.mem
tests/*.php
.*
!.gitignore
!.github/
!.travis.yml
!.travis.scripts/
!.appveyor.yml
!.appveyor
